
/build

src/*/obj
src/*/bin
*.csproj.user
*ReSharper.user
*DotSettings.user
_ReSharper*
*resharper*
*.suo
*.cache
* Thumbs.db
*.dotCover
*.TeamCity.user
src/C2.Facilities.NHibernateIntegration*
src/CommonAssemblyInfo.cs
